@model IEnumerable<PenaltyModel>
@*Razor view engine*@
@*WebForms view engine*@

<!-- content-->
<h1>Penalty's</h1>

<a href="/penalty/create">Penalty toevoegen</a>

@if (Model == null || Model.Count() == 0)
{
	<p>Nog geen penals genomen.</p>
}
else
{
	<table>
		<thead>
			<tr>
				<th>ID</th>
				<th>Naam</th>
				<th>Gescoord?</th>
				<th>Snelheid</th>
				<th>Gezicht</th>
			</tr>
		</thead>

		@foreach (var penalty in Model)
		{
			<tr>
				<td>@penalty.Id</td>
				<td>@penalty.Player.Name</td>
				<td>@penalty.Scored</td>
				<td>@penalty.Speed</td>
				<td><img src="@penalty.PhotoFace"></td>
			</tr>
		}
	</table>
}

